# Numbers and math
* data types
* booleans
* integers ðŸ‘ˆ
* bases
* type conversion
* floats
* math order of operations
* math

## Integers
Integers are whole numbers, like 1, 2, 3, etc. without decimals or fractions. Don't create integers in your code with commas, because that will create something called a tuple. You can format numbers for printing with commas after the fact.

In [ ]:
0

0

In [ ]:
4555

4555

In [ ]:
#negative number
-35

-35

In [ ]:
#This will give you a syntax error exception
023

SyntaxError: ignored

In [ ]:
#this creates a tuple rather than displaying the number you want
1,234,567

(1, 234, 567)

## Arithmetic
|Operator|Operation|
|:-|:-|
|+|addition|
|-|subtraction|
|*|multiplication|
|/|division|
|//|integer division|
|%|modulo|
|**|exponent|

In [ ]:
1+1

2

In [ ]:
1-1

0

In [ ]:
2*3

6

In [ ]:
#Division will give you a float instead of an integer
10/5

2.0

In [ ]:
#you can cast to an integer to have it display an integer
int(10/5)

2

In [ ]:
#And this will give you an integer
10//5

2

In [ ]:
10/3

3.3333333333333335

In [ ]:
#But look, 10//3 will give you 3, that's what // does
10//3

3

In [ ]:
#modulo will give you the remainder in the division
#For example 10/3 is 3 with 1 left over.
10%3

1

## Order of operation
* List comprehensions, generators, and things in parentheses
* Function calls
* Exponents
* Positives, negative, not
* Multiplication, divisions, remainders
* Addition, subtraction

## PEMDAS -> PEDMAS

You may have heard this mnemonic "Please Excuse My Dear Aunt Sally." Where you
association Please with Parentheses, Excuse with Exponentiation, My with Multiplication, Dear with Division, Aunt with Addition, and Sally with Subtraction. That is the order of operations you learn in school.
\
\
We're going to change it a little bit.
Python will do division before multiplication.
* Parentheses
* Exponents
* Division
* Multiplication
* Addition
* Subtraction


For the most common operations you'll be doing as a beginner, this is the order of operations. There is a lot more to this topic!

In [ ]:
# Multiplication then Addition
# 2 * 3 is evaluated first, 2 * 3 = 6
# 4 + 6 = 10
4 + 2 * 3

10

In [ ]:
# 4 / 4 = 1
# 2 * 3 = 6
# 1 + 6 = 7
4 / 4 + 2 * 3

7.0

In [1]:
#4**2 is exponentiation 4 * 4 = 16
# 16 / 4 = 4
# 2 * 3 = 6
# 4 + 6 = 10
4**2 / 4 + 2 * 3

10.0

In [11]:
# Division before Multiplication
# (4 + 2) = 6
# 4 **2 = 16
# 16 / 6 * 3
# if you did 6 * 3 first, you'd get a different answer
# python does 16 / 6 first
# 16 / 6  = 2 2/3 or 2.666666... or (2 + (2/3))
# 2 2/3 * 3 = 8

4**2 / (4 + 2) * 3

8.0

In [18]:
# (4 + 2) = 6
# 4**2 = 16
# 16 / 6 - 3 * 3
# 2 1/3 - 9 = -6.333333...
4**2 / (4 + 2) - 3 * 3

-6.333333333333334

In [24]:
# With Addition and Subtraction only, the order doesn't matter.
# do the parentheses first. this is our exponent
# (3 - 2 ) = 1
# so the exponentiation becomes
# 4**1 = 4
# let's insert it into the full thing
# 4 - 5 - 8 + 3 + 2 #so with only addition and subtraction, it doesn't matter what order
# 4 + -5 + -8 + 3 + 2 #and we can represent it this way also
# so let's go one piece at a time
# 4 - 5 = -1
# back to the full thing
# -1 - 8 + 3 + 2
# next two
# -1 - 8 = -9
# the full thing now becomes
# - 9 + 3 + 2
# net piece
# -9 + 3 = -6
# now we're left with
# -6 + 2 = -4
4**(3-2) - 5 - 8 + 3 + 2

-4

# Exercise example
Similar to how I worked through the above example, work through a few more.

In [25]:
#here's how I suggest you work through a couple of examples
4**2 / (4 + 2) * 3

8.0

In [26]:
4**2

16

In [28]:
16/(4+2)*3

8.0

In [27]:
(4+2)

6

In [29]:
16/6*3

8.0

In [30]:
16/6

2.6666666666666665

In [31]:
2.6666666666666665*3

8.0

In [38]:
(2 + (2/3)) * 3

8.0

# Example
Now do this with the following:

In [ ]:
a = 5
(a*2 + 3 - 3 / 1) % 10

In [ ]:
# first operation

In [ ]:
# type out the full equation with the first operation evaluated

In [ ]:
# second operation

In [ ]:
# type out the full equation with the second operation evaluated

In [ ]:
# third operation - everything in parentheses

In [ ]:
# type out the full equation, which should just be two things now