# Numbers and math
* data types
* booleans
* integers ðŸ‘ˆ
* bases
* type conversion
* floats
* math order of operations
* math

## Integers
Integers are whole numbers, like 1, 2, 3, etc. without decimals or fractions. Don't create integers in your code with commas, because that will create something called a tuple. You can format numbers for printing with commas after the fact.

In [ ]:
0

0

In [ ]:
4555

4555

In [ ]:
#negative number
-35

-35

In [ ]:
#This will give you a syntax error exception
023

SyntaxError: ignored

In [ ]:
#this creates a tuple rather than displaying the number you want
1,234,567

(1, 234, 567)

## Arithmetic operators
|Operator|Operation|
|:-|:-|
|+|addition|
|-|subtraction|
|*|multiplication|
|/|division|
|//|integer division|
|%|modulo|
|**|exponent|

In [ ]:
1+1

2

In [ ]:
1-1

0

In [ ]:
2*3

6

In [ ]:
#Division will give you a float instead of an integer
10/5

2.0

In [ ]:
#you can cast to an integer to have it display an integer
int(10/5)

2

In [ ]:
#And this will give you an integer
10//5

2

In [ ]:
10/3

3.3333333333333335

In [ ]:
#But look, 10//3 will give you 3, that's what // does
10//3

3

In [ ]:
#modulo will give you the remainder in the division
#For example 10/3 is 3 with 1 left over.
10%3

1