# Numbers and math
* data types
* booleans
* integers
* bases
* type conversion
* floats
* math order of operations
* math

## Data Types
* Different programming languages support different data types.
* Different programming languages have different default values for certain data types, like Java's default for booleans is False.
  * Python's default for bool() is False.
* **primitive data types** - building blocks for other data types
* **built-in data types** - primitive data types, while others are referred to as derived data types
  * sometimes used interchangeably with primitive data types, but sometimes used to refer to data types built in to the programming language by default


[Python's documentation on data types](https://docs.python.org/3/library/stdtypes.html) provides excellent information and further detail.\
The Python docs are going to eventually be your go-to resource. If they look like hieroglyphics to you at this point, that's ok. You'll understand them eventually.

## Booleans in Python
* True or False
* lazily evaluated
* primitive
* no default value
* can't use in math\
A boolean data type evaluates to True or False, and that's it. Often, in Python, you'll hear that boolean expressions (something that resolves to a True or False) are lazily evaluated. This means they're evaluated when they're used.

In [ ]:
#bool() checks if something is True or False
#see its default value
bool()

False

In [ ]:
#This method raises an exception if you give it something that's not been defined
bool(a)

NameError: ignored

In [ ]:
#In Python, everything is an object.
#You can test the truth values of any object in Python
a = 2
bool(a)

True

In [ ]:
#in notebooks you don't have to type print( a == b ), you can just enter it plainly like the below
# 2 == 3 ? False
b = 3
a == b

False

# Exercise
Try more here to see the values Python gives for various objects.\
* Is a string True or False?
* Is a single character, like 'a' different?
* What about a list, like [1, 2, 3]?

In [ ]:
#Do the exercise here
#Is a string True or False?

In [ ]:
#Is a single character, like 'a' different?

In [ ]:
#What about a list by itself?

Remember the list in the first notebook.\
[01_variables_and_naming](https://colab.research.google.com/drive/1PuRq4JF3cjdOhIVfYE0fbGGBbk3zf3LY?usp=sharing)

In [1]:
#Here's the code:
mylist1 = [1, 2, 3]
mylist2 = mylist1
print("mylist1:", mylist1)
print("mylist2:", mylist2)
print("ids:", id(mylist1), id(mylist2))
print("ids equal?:", id(mylist1) == id(mylist2))

mylist1: [1, 2, 3]
mylist2: [1, 2, 3]
ids: 133785642391360 133785642391360
ids equal?: True

In [2]:
#You can do this too
mylist1 == mylist2

True

In [5]:
mylist3 = [1,2,3]
mylist4 = [1, 2, 3]
#the lists mylist1 and mylist4 are the same
print(mylist1 == mylist4)
#but mylist1 and mylist4 are saved in different places in memory
#mylist1 was assigned to mylist2, so they share the same place in memory
print(id(mylist1) == id(mylist4))

True
False

# Exercise
Is mylist3 equal to mylist1, 2, and 4?

In [ ]:
#try it here for yourself!

#Is mylist3 equal to mylist1? and are they the same id?

#Is mylist3 equal to mylist2?

#Is mylist2 equal to mylist4?